<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">

      <li nz-menu-item routerLink="/admin/home">
          <span><i class="anticon anticon-file"></i>
            <span class="nav-text">首页</span></span>
      </li>
      <li nz-submenu >
        <span title><i class="anticon anticon-user"></i><span class="nav-text">车辆管理</span></span>        <ul>
          <li nz-menu-item routerLink="/admin/car/CarLedger">车辆台账管理</li>
          <li nz-menu-item routerLink="/admin/car/CarDriver">车辆成本定义</li>
          <li nz-menu-item routerLink="/admin/car/CarRoute">车辆可运行线路管理</li>
          <li nz-menu-item routerLink="/admin/car/CarCost">车辆司机分配</li>
        </ul>
      </li>


    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="top-header">
      <div class="right">
        <ul>
            <li (click)="exit()">
                <i class="anticon anticon-poweroff" title="退出"></i>
            </li>
        </ul>
      </div>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
