h1{
    margin: 50px 0;
    text-align: center;
  }
  .register-form {
      max-width: 500px;
      margin: 0 auto;
    }


    .login-form-forgot {
      float: right;
    }
  
    .register-form-button {
      width: 100%;
    }